<h1>Update Pet</h1>

<h2>Editing <%= @pet.name %>:</h2>

<form action="/pets/<%= @pet.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    
    <label>Pet's Name:</label>
    <input type="text" id='pet_name' name="pet[name]" value="<%= @pet.name %>">
<br>
    <h3>Existing Owners</h3>
    <% @owners.each do |o| %>
        <input type="radio" name="pet[owner_id]" id="<%= o.id %>" value="<%= o.id %>" <%='checked' if @pet.owner == o %>><%= o.name %></input><br>
    <% end %>

    <h3>New Owner</h3>
    <label>Owner Name: </label>
    <input type="text" name="owner[name]" id="owner_name">
<br>
    <input type="submit" value="Update Pet">
</form>